<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="box-title">
        <h1 class="title">Інформація про підписників</h1>
      </div>
      <div>
        <ul class="head-list">
          <li class="head-item">Імʼя</li>
          <li class="head-item">Фамілія</li>
          <li class="head-item">Нікнейм</li>
          <li class="head-item">Пошта</li>
          <li class="head-item">Оплачено</li>
          <li class="head-item">Яка підписка</li>
          <li class="head-item">Статус оплати</li>
          <li class="head-item">Id замовлення</li>
          <li class="head-item">Дата купівлі підписки:</li>
          <li class="head-item">Дата закінчення підписки</li>
        </ul>
        <ul class="user-list">
          <!-- <li class="user-item">
            <p class="header">Імʼя: <span class="value"><%= first_name %></span></p>
          </li>
          <li class="user-item">
            <p class="header">Фамілія: <span class="value"><%= last_name %></span></p>
          </li>
          <li class="user-item">
            <p class="header">Нікнейм в телеграмі: <span class="value"><%= username %></span></p>
          </li>
          <li class="user-item">
            <p class="header">Пошта: <span class="value"><%= payment.sender_email %></span></p>
          </li>
          <li class="user-item">
            <p class="header">Оплачено: <span class="value"><%= pay %></span></p>
          </li>
          <li class="user-item">
            <p class="header">Яка підписка: <span class="value"><%= title %></span></p>
          </li>
          <li class="user-item">
            <p class="header">Статус оплати: <span class="<%= payment.order_status === "approved" ? "value-ok" : "value-err" %>"> 
              <%= payment.order_status === "approved" ? "Оплачено" : "Не оплачено" %> </span> </p>
          </li>
          <li class="user-item">
            <p class="header">Id замовлення: <span class="value"><%= order_id %></span></p>
          </li>
          <li class="user-item">
            <p class="header">Дата купівлі підписки: <span class="value"><%= payment.datePay %></span></p>
          </li>
          <li class="user-item">
            <p class="header">Дата закінчення підписки: <span class="value"><%= payment.dateEnd %></span></p>
            
          </li> -->
        </ul>
      </div>
    </div>
  </body>
</html>
